.main-header {
  width: 100%;
  background: #FFFFFF;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  position:sticky;
  z-index: 100;
  top: 0; 
  left: 0;
}

.header-container {
  width: 90%;
  height: 70px;
  /* margin-top: 10rem; */
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  font-size: 24px;
  color: #00A3AA;
  
  && span{
    color:#1A1A1A;

  }
}

.header-nav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.nav-tab {
  text-decoration: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
  transition: color 0.2s ease;
}

.nav-tab:hover {
  color: #4ca3a9;
}

.nav-tab.active {
  color: #4ca3a9;
  font-weight: 600;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-item {
  font-size: 16px;
  color: #555555;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #0070f3;
}

.header-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}


.Btn.header-book-btn {
  background-color: #00A3AA;
  width: 120px;
  cursor: pointer;
  height: 7vh;
  box-shadow: 0 2px 4px rgba(0, 163, 170, 0.2);
  transition: background-color 0.2s ease;
}
.Btn.header-signup-btn{
  background-color: white;
  width: 120px;
  cursor: pointer;
  color: #1A1A1A;
  height: 7vh;
  box-shadow: 0 2px 4px rgba(0, 163, 170, 0.2);
  transition: background-color 0.2s ease;
}
.Btn.header-signup-btn:hover {
  background-color: #008d94;
}

.header-book-btn:hover {
  background-color: #008d94;
}

@media (max-width: 768px) {
  .header-actions {
    display: none;
  }
}